body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto,sans-serif;
  background: #151e33;
  background: linear-gradient(-38deg,#161e32 0,#2b395a 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  max-width: 100vw;
  color: white;
}

#app {
  height: 100%;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}


@mixin layout-align($dir) {
  justify-content: $dir;
  &-start {
    align-items: flex-start;
    justify-content: $dir;
  }
  &-end {
    align-items: flex-end;
    justify-content: $dir;
  }
  &-center {
    align-items: center;
    justify-content: $dir;
  }
  &-stretch {
    align-items: stretch;
    justify-content: $dir;
  }
  &-baseline {
    align-items: baseline;
    justify-content: $dir;
  }
}

.layout-start {
  @include layout-align(flex-start);
}

.layout-end {
  @include layout-align(flex-end);
}

.layout-between {
  @include layout-align(space-between);
}

.layout-stretch {
  @include layout-align(stretch);
}

.layout-center {
  @include layout-align(center);
}

.layout-around {
  @include layout-align(space-around);
}

.layout-evenly {
  @include layout-align(space-evenly);
}

.flex-100 {
  flex-grow: 1;
  flex-basis: 100%;
}

.flex-50 {
  flex-grow: 0;
  flex-basis: 50%;
}

.flex-25 {
  flex-grow: 0;
  flex-basis: 25%;
}

.flex-10 {
  flex-grow: 0;
  flex-basis: 10%;
}

.flex-none {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
}

.layout-padding {
  padding: 8px;
}

.layout-wrap {
  flex-wrap: wrap;
}

.md-dialog.big-dialog .md-dialog-container {
  max-width: 700px;
}

.md-field.compact {
  margin: 0;
}

.md-field.very-compact {
  margin: 0;
  padding-top: 0;
  min-height: 0;
}

.md-menu-content-small.md-menu-content {
  z-index: 190;
}

.md-button.md-dark.md-icon-button .md-icon.md-theme-default.md-icon-font {
  color: white;
}
.md-button.md-dark.md-icon-button .md-disabled .md-icon.md-theme-default.md-icon-font {
  color: rgba(255,255,255,0.5);
}

.small-field {
  min-width: 80px;
  width: auto;
}

.medium-field {
  min-width: 200px;
  width: auto;
  flex-grow: 1;
}

.large-field {
  min-width: 300px;
  width: auto;
  flex-grow: 2;

  &.md-field.md-has-textarea {
    margin: 8px;
    padding: 8px;

    .md-textarea {
      padding: 0;
    }
  }
}
