body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto,sans-serif;
  background: #151e33;
  background: linear-gradient(-38deg,#161e32 0,#2b395a 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  max-width: 100vw;
  color: white;
}

#app {
  height: 100%;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}


@mixin layout-align($dir) {
  justify-content: $dir;
  &-start {
    align-items: flex-start;
    justify-content: $dir;
  }
  &-end {
    align-items: flex-end;
    justify-content: $dir;
  }
  &-center {
    align-items: center;
    justify-content: $dir;
  }
  &-stretch {
    align-items: stretch;
    justify-content: $dir;
  }
  &-baseline {
    align-items: baseline;
    justify-content: $dir;
  }
}

.layout-start {
  @include layout-align(flex-start);
}

.layout-end {
  @include layout-align(flex-end);
}

.layout-between {
  @include layout-align(space-between);
}

.layout-stretch {
  @include layout-align(stretch);
}

.layout-center {
  @include layout-align(center);
}

.layout-around {
  @include layout-align(space-around);
}

.layout-evenly {
  @include layout-align(space-evenly);
}

.flex-100 {
  flex-basis: 100%;
}

.flex-50 {
  flex-grow: 0;
  flex-basis: 50%;
}

.flex-45 {
  flex-grow: 0;
  flex-basis: 45%;
}

.flex-25 {
  flex-grow: 0;
  flex-basis: 25%;
}

.flex-10 {
  flex-grow: 0;
  flex-basis: 10%;
}

.flex-20 {
  flex-grow: 0;
  flex-basis: 20%;
}

.flex-none {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
}

.flex {
  flex-grow: 1;
}

.layout-padding {
  padding: 8px;
}

.layout-wrap {
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .md-dialog.big-dialog {
    width: 900px;
    .md-dialog-container {
      width: 100%;
    }
  }
}

.md-field.compact {
  margin: 0;
}

.md-field.very-compact {
  margin: 0;
  padding-top: 0;
  min-height: 0;
}

.md-menu-content-small.md-menu-content {
  z-index: 190;
}

.small-field {
  min-width: 80px;
  width: auto;
}

.medium-field {
  min-width: 200px;
  width: auto;
  flex-grow: 1;
}

.large-field {
  min-width: 300px;
  width: auto;
  flex-grow: 2;

  &.md-field.md-has-textarea {
    margin: 8px 8px 24px 8px;
    padding: 8px;

    .md-textarea {
      padding: 0;
    }

    &.md-invalid:before {
      opacity: 1;
    }
  }
}

.md-table.transparent-table {
  background-color: transparent !important;
  .md-content {
    background-color: transparent !important;
  }
}

.md-tabs.md-theme-default.transparent-tabs {
  .md-tabs-navigation, .md-tab, .md-content {
    background-color: transparent;
  }
}

img.profilepic {
  border-radius: 100%;
  width: 2.5em;
  margin-right: 8px;
}

.member {
  position: relative;
  margin-right: 20px;
  cursor: grab;
  &:before {
    content: '?';
    background-color: #333333;
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 1px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    z-index: 99;
  }

  &.accepted:before {
    content: '✔';
    background-color: #008b13;
  }

  &.denied:before {
    content: '🗙';
    background-color: #5a0505;
  }
}

.fullheight {
  height: 100%;
}

.flag.flag-xx, .flag.flag-undefined {
  background: #333;
  border: 1px solid #990000;
  height: 22px;
  box-sizing: border-box;
  margin-bottom: 5px;

  &:after {
    content: '?';
    text-align: center;
    display: block;
  }
}

.handle {
  cursor: move;
}

.md-dialog {
  transform: translateX(-50%) translateY(calc(-50% - .5px)); /* fixes https://github.com/esamarathon/user-management/issues/12, hopefully */
}
